<!-- h1>Your Cart</h1 -->

<% @total = 0 %>

<% if @cart.empty? %>

  <br><br><br>
  <a href="<%= products_path %>">
    <div class="tile">
        <br><br>
        <h2 class="text_center">Your cart is currently empty.</h2>
        <br><br>
        <h1 class="text_center">Buy something!</h1>
        <div><%= image_tag("buy_something_basket.png", class: "image_size") %></div>
    </div>
  </a>

<% else %>

  <h2 class="apart"><%= link_to "Empty your Cart", cart_clear_path %></h2>
  <br><br><br><br>

  <% @cart.each do |id, quantity| %>

    <% product = Product.find_by_id(id) %>

    <% if quantity == 0 %>

      <%# To delete the tile of the item from the cart: %>
      <% id = nil %>

    <% else %>

        <div class="tile">
          <div><%= image_tag product.image_url, class: "image_size" %></div>
          <h3 class="text_bckg"><%= product.title %></h3>
          <p class="text_bckg"><b class="text_bckg">Unit Price: </b><%= number_to_currency(product.price, :unit => "$") %></p>
          <p class="text_bckg"><b class="text_bckg">Quantity: </b><%= quantity %></p>
          <p class="text_bckg"><b class="text_bckg">Sub-Total: </b>$<%= quantity * product.price %></p>
          <p class="tile-left-span"><a href="/cart/less/<%= product.id %>" class="button">-1</a>
          <p class="tile-right-span"><a href="/cart/more/<%= product.id %>" class="button">+1</a>
        </div>

    <% end %>

  <% @total += quantity * product.price %>

  <% end %>

  <% if @total >= 1 %>

    <%# This tile appeara only once, no matter how many items there are in the cart. %>
    <a href="<%= products_path %>">
      <div class="tile">
        <br><br>
        <h2 class="text_center">Add other items to your cart</h2>
        <br><br>
        <!-- h1 class="text_center">Buy something!</h1 -->
        <div><%= image_tag("buy_something_basket.png", class: "image_size") %></div>
      </div>
    </a>

  <% else %>

    <% clearCart %>

    <%# Another way to do this, without creating a helper method in the cart controller: %>
    <%# controller.redirect_to cart_clear_path %>

  <% end %>

  <h2 class="apart">
    <strong>Your cart's total:</strong>
    <b><%= number_to_currency(@total, :unit => "$") %></b>
  </h2>

  <h1 class="apart"><%= link_to "Continue Shopping", products_path %></h1>

  <h1 class="apart">Checkout with E­-xact's Payment Page Demo</h1>

  <!-- h3 class="apart">E-xact's Payment Page Demo - Receipt only, no Silent Post</h3 -->
  <%= render 'ex1' %>

  <!-- h3 class="apart">E-xact's Payment Page Demo - Silent Post</h3 -->
  <%= render 'ex2' %>

  <!-- h3 class="apart">E-xact's Payment Page Demo - Values Received</h3 -->
  <% if current_user.admin? %>
    <%= render 'ex3' %>
    <!-- h3 class="apart">ET QA Payment Page - A05513-01</h3 -->
    <%= render 'ex4' %>
    <!-- h3 class="apart">ET QA Payment Page - Cineplex - AQ7308-01</h3 -->
    <%= render 'ex5' %>
  <% end %>

  <% if current_user.admin? %>
    <h1 class="apart">Checkout with PayEezy's Payment Pages</h1>
    <!-- h3 class="apart">PayEezy's Payment Page Demo - Values Received</h3 -->
    <div>
      <%= render 'fd1' %>
      <%= render 'fd1_pnb' %>
    </div>
    <!-- h3 class="apart">PayEezy's Payment Page PROD - Receipt only - C50118-01</h3 -->
    <div>
      <%= render 'fd2' %>
      <%= render 'fd2_pnb' %>
    </div>
    <!-- h3 class="apart">PayEezy's Payment Page QA - Receipt only - A05351-02</h3 -->
    <div>
      <%= render 'fd3' %>
      <%= render 'fd3_vanilla' %>
      <%= render 'fd3_pnb' %>
    </div>
    <!-- h3 class="apart">PayEezy's Payment Page FT2 - Receipt only - A08216-01</h3 -->
    <div>
      <%= render 'fd4' %>
      <%= render 'fd4_pnb' %>
    </div>
    <!-- h3 class="apart">PayEezy's Payment Page FT1 - Receipt only - O86029-97</h3 -->
    <div>
      <%= render 'fd5' %>
      <%= render 'fd5_pnb' %>
    </div>
    <!-- h3 class="apart">PayEezy's Payment Page CAT - CA6290-96</h3 -->
    <div>
      <%= render 'fd6' %>
      <%= render 'fd6_pnb' %>
    </div>
    <!-- h3 class="apart">PayEezy's Payment Page CERT - CR1386-16</h3 -->
    <div>
      <%= render 'fd7' %>
      <%= render 'fd7_pnb' %>
    </div>
  <% end %>


  <h3 class="apart">Click <a href="https://hostedcheckout.zendesk.com/entries/231255-Using-test-credit-card-numbers" target="_blank">here</a> to get a test credit card number.<h3>

<% end %>
