<!-- h1>Your Cart</h1 -->

<% @total = 0 %>

<% if @cart.empty? %>

  <br><br><br>
  <a href="<%= products_path %>">
    <div class="tile">
        <br><br>
        <h2 class="text_center">Your cart is currently empty.</h2>
        <br><br>
        <h1 class="text_center">Buy something!</h1>
        <div><%= image_tag("buy_something_basket.png", class: "image_size") %></div>
    </div>
  </a>

<% else %>

  <h2 class="apart"><%= link_to "Empty your Cart", cart_clear_path %></h2>
  <br><br><br><br>

  <% @cart.each do |id, quantity| %>

    <% product = Product.find_by_id(id) %>

    <% if quantity == 0 %>

      <%# To delete the tile of the item from the cart: %>
      <% id = nil %>

    <% else %>

        <div class="tile">
          <div><%= image_tag product.image_url, class: "image_size" %></div>
          <h3 class="text_bckg"><%= product.title %></h3>
          <p class="text_bckg"><b class="text_bckg">Unit Price: </b><%= number_to_currency(product.price, unit: "#{current_user.currency_code}", format: "%n %u") %></p>
          <p class="text_bckg"><b class="text_bckg">Quantity: </b><%= quantity %></p>
          <p class="text_bckg"><b class="text_bckg">Sub-Total: </b><%= number_to_currency((quantity * product.price), unit: "#{current_user.currency_code}", format: "%n %u") %></p>
          <p class="tile-left-span"><a href="/cart/less/<%= product.id %>" class="button">-1</a>
          <p class="tile-right-span"><a href="/cart/more/<%= product.id %>" class="button">+1</a>
        </div>

    <% end %>

  <% @total += quantity * product.price %>

  <% end %>

  <% if @total >= 1 %>

    <%# This tile appeara only once, no matter how many items there are in the cart. %>
    <a href="<%= products_path %>">
      <div class="tile">
        <br><br>
        <h2 class="text_center">Add other items to your cart</h2>
        <br><br>
        <!-- h1 class="text_center">Buy something!</h1 -->
        <div><%= image_tag("buy_something_basket.png", class: "image_size") %></div>
      </div>
    </a>

  <% else %>

    <% clearCart %>

    <%# Another way to do this, without creating a helper method in the cart controller: %>
    <%# controller.redirect_to cart_clear_path %>

  <% end %>

  <h2 class="apart">
    <strong>Your cart's total:</strong>
    <b><%= number_to_currency(@total, unit: "#{current_user.currency_code}", format: "%n %u") %></b>
  </h2>

  <h1 class="apart"><%= link_to "Continue Shopping", products_path %></h1>

  <% if current_user.currency_code == "CAD" %>
    <h1 class="apart">Checkout with E­-xact's Demo Payment Pages</h1>

    <div class="apart">
      <!-- h3 class="apart">ETD Vanilla - Purchase</h3 -->
      <%= render 'et18' %>
      <!-- h3 class="apart">ETD Vanilla - Pre-Auth</h3 -->
      <%= render 'et19' %>
      <!-- h3 class="apart">ETD Vanilla - AUTH_TOKEN - Receipt only</h3 -->
      <%= render 'etd_auth_token' %>
      <!-- h3 class="apart">ETD Vanilla - PURCHASE_TOKEN - Receipt only</h3 -->
      <%= render 'etd_purchase_token' %>
      <!-- h3 class="apart">ETD - Receipt only, no Silent Post</h3 -->
      <%= render 'ex1' %>
      <!-- h3 class="apart">ETD - Silent Post</h3 -->
      <%= render 'ex2' %>
      <!-- h3 class="apart">ETD - Values Received</h3 -->
      <%= render 'ex3' %>
    </div>
  <% end %>

  <% if current_user.admin? %>

    <% if current_user.currency_code == "CAD" %>
      <div class="apart">
        <!-- h3 class="apart">ET QA Payment Page - A05513-01</h3 -->
        <%= render 'ex4' %>
        <!-- h3 class="apart">ET QA Payment Page - Cineplex - AQ7308-01</h3 -->
        <%= render 'ex5' %>
      </div>
      <div class="apart">
        <!-- h3 class="apart">ETQA Demo - Vanilla PP CAD Purchase - A05723-01</h3 -->
        <%= render 'et1' %>
        <!-- h3 class="apart">ETQA Demo - Vanilla PP CAD Pre-Auth - A05723-01</h3 -->
        <%= render 'et2' %>
        <!-- h3 class="apart">ETQA Demo - Full CAD Purchase - A05723-01</h3 -->
        <%= render 'et3' %>
        <!-- h3 class="apart">ETQA Demo - Full CAD Pre-Auth - A05723-01</h3 -->
        <%= render 'et30' %>
        <!-- h3 class="apart">ETQA Demo - Vanilla CVV2 CAD Purchase - A05723-06</h3 -->
        <%= render 'et5' %>
        <!-- h3 class="apart">ETQA Demo - Vanilla CVV2 CAD Pre-Auth - A05723-06</h3 -->
        <%= render 'et6' %>
        <!-- h3 class="apart">ETQA Demo - Recurring CAD Purchase - A05723-01</h3 -->
        <%= render 'et4' %>
        <!-- h3 class="apart">ETQA Demo - Vanilla PP CAD PURCHASE_TOKEN - A05723-01</h3 -->
        <%= render 'etq_purchase_token' %>
        <!-- h3 class="apart">ETQA Demo - Vanilla PP CAD AUTH_TOKEN - A05723-01</h3 -->
        <%= render 'etq_auth_token' %>
      </div>
      <div class="apart">
        <!-- h3 class="apart">ETQA Demo - Cineplex PP CAD Purchase - A05726-01</h3 -->
        <%= render 'et7' %>
      </div>
      <div class="apart">
        <!-- h3 class="apart">ETFT1 Demo - Vanilla PP CAD Purchase - A05723-01</h3 -->
        <%= render 'et22' %>
        <!-- h3 class="apart">ETFT1 Demo - Vanilla PP CAD Pre-Auth - A05723-01</h3 -->
        <%= render 'et23' %>
        <!-- h3 class="apart">ETFT1 Demo - Full CAD Purchase - A05723-01</h3 -->
        <%= render 'et24' %>
        <!-- h3 class="apart">ETFT1 Demo - Full CAD Pre-Auth - A05723-01</h3 -->
        <%= render 'et29' %>
        <!-- h3 class="apart">ETFT1 Demo - Vanilla CVV2 CAD Purchase - A05723-06</h3 -->
        <%= render 'et26' %>
        <!-- h3 class="apart">ETFT1 Demo - Vanilla CVV2 CAD Pre-Auth - A05723-06</h3 -->
        <%= render 'et27' %>
        <!-- h3 class="apart">ETFT1 Demo - Recurring CAD Purchase - A05723-01</h3 -->
        <%= render 'et25' %>
        <!-- h3 class="apart">ETFT1 Demo - Vanilla PP CAD PURCHASE_TOKEN - A05723-01</h3 -->
        <%= render 'etft1_purchase_token' %>
        <!-- h3 class="apart">ETFT1 Demo - Vanilla PP CAD AUTH_TOKEN - A05723-01</h3 -->
        <%= render 'etft1_auth_token' %>
      </div>
      <div class="apart">
        <!-- h3 class="apart">ETFT1 Demo - Cineplex PP CAD Purchase - A05726-01</h3 -->
        <%= render 'et28' %>
      </div>
      <div class="apart">
        <!-- h3 class="apart">ET Cnplx Demo - Vanilla Purchase - A00210-01</h3 -->
        <%= render 'et16' %>
        <!-- h3 class="apart">ET Cnplx Demo - Vanilla Pre-Auth - A00210-01</h3 -->
        <%= render 'et17' %>
        <!-- h3 class="apart">ET Cnplx Demo REG ENG Purchase - A00210-01</h3 -->
        <%= render 'et8' %>
        <!-- h3 class="apart">ET Cnplx Demo REG FRA Purchase - A00210-01</h3 -->
        <%= render 'et9' %>
        <!-- h3 class="apart">ET Cnplx Mobi REG ENG Purchase - A00210-01</h3 -->
        <%= render 'et10' %>
        <!-- h3 class="apart">ET Cnplx Mobi REG FRA Purchase - A00210-01</h3 -->
        <%= render 'et11' %>
      </div>
      <div class="apart">
        <!-- h3 class="apart">ET Imprk Demo - Vanilla Purchase - A00057-01</h3 -->
        <%= render 'et14' %>
        <!-- h3 class="apart">ET Imprk Demo - Vanilla Pre-Auth - A00057-01</h3 -->
        <%= render 'et15' %>
        <!-- h3 class="apart">ET Imprk Demo - Zero Dollar Auth (ZDA) CAD ENG PP - A00057-01</h3 -->
        <%= render 'et12' %>
        <!-- h3 class="apart">ET Impark Demo - OTP GA CAD ENG PP - A00057-01</h3 -->
        <%= render 'et13' %>
        <!-- h3 class="apart">ET Imprk Demo - REEF (based on ZDA) CAD ENG PP - A00057-01</h3 -->
        <%= render 'et21' %>
        <!-- h3 class="apart">ET Imprk Demo - Standard Template - Full - A00057-01</h3 -->
        <%= render 'et20' %>
      </div>
    <% end %>

  <% end %>

  <% if current_user.admin? %>
    <h1 class="apart">Checkout with PayEezy's Payment Pages</h1>

    <% if current_user.currency_code == "USD" %>
      <!-- h3 class="apart">PayEezy's Payment Page Demo - Values Received</h3 -->
      <div class="apart">
        <%= render 'fd1' %>
        <%= render 'fd1_pnb' %>
      </div>
      <!-- h3 class="apart">PayEezy's Payment Page PROD - Receipt only - C50118-01</h3 -->
      <div class="apart">
        <%= render 'fd2' %>
        <%= render 'fd2_pnb' %>
      </div>
      <!-- h3 class="apart">PayEezy's Payment Page QA - Receipt only - A05351-02</h3 -->
      <div class="apart">
        <%= render 'fd3_vanilla' %>
        <%= render 'fd3' %>
        <%= render 'fd3_pnb' %>
      <!-- h3 class="apart">PayEezy's Payment Page QA - Apple Pay buttons</h3 -->
        <%= render 'fd3_ap_purchase' %>
        <%= render 'fd3_ap_preauth' %>
        <%= render 'fd3_ap_avs' %>
        <%= render 'fd3_ap_recurring' %>
        <%= render 'fd3_ap_pnb' %>
      <!-- h3 class="apart">PayEezy's Payment Page QA - Apple Pay Foreign Currency PNB buttons</h3 -->
        <%= render 'fd3_ap_cad_pnb' %>
        <%= render 'fd3_ap_eur_pnb' %>
      <!-- h3 class="apart">PayEezy's Payment Page QA - 3DS buttons</h3 -->
        <%= render 'fd3_3dsv1_purchase' %>
        <%= render 'fd3_3dsv2_purchase' %>
        <%= render 'fd3_3dsfo_purchase' %>
      </div>
      <!-- h3 class="apart">PayEezy's Payment Page FT1 - Receipt only - O86029-97</h3 -->
      <div class="apart">
        <%= render 'fd5_vanilla' %>
        <%= render 'fd5' %>
        <%= render 'fd5_ap_avs' %>
        <%= render 'fd5_preauth' %>
        <%= render 'fd5_pnb' %>
      </div>
      <!-- h3 class="apart">PayEezy's Payment Page FT2 - Receipt only - A05351-02</h3 -->
      <div class="apart">
        <%= render 'fd4_vanilla' %>
        <%= render 'fd4' %>
        <%= render 'fd4_pnb' %>
      <!-- h3 class="apart">PayEezy's Payment Page FT2 - Apple Pay buttons</h3 -->
        <%= render 'fd4_ap_purchase' %>
        <%= render 'fd4_ap_preauth' %>
        <%= render 'fd4_ap_recurring' %>
        <%= render 'fd4_ap_pnb' %>
      <!-- h3 class="apart">PayEezy's Payment Page FT2 - Apple Pay Foreign Currency PNB buttons</h3 -->
        <%= render 'fd4_ap_cad_pnb' %>
        <%= render 'fd4_ap_eur_pnb' %>
      </div>
      <!-- h3 class="apart">E4 CAT - Receipt only - A05351-02</h3 -->
      <div class="apart">
        <%= render 'fd6_vanilla' %>
        <%= render 'fd6' %>
        <%= render 'fd6_pnb' %>
      <!-- h3 class="apart">E4 CAT - Apple Pay buttons</h3 -->
        <%= render 'fd6_ap_purchase' %>
        <%= render 'fd6_ap_preauth' %>
        <%= render 'fd6_ap_recurring' %>
        <%= render 'fd6_ap_pnb' %>
      <!-- h3 class="apart">E4 CAT - Apple Pay Foreign Currency PNB buttons</h3 -->
        <%= render 'fd6_ap_cad_pnb' %>
        <%= render 'fd6_ap_eur_pnb' %>
      </div>
      <!-- h3 class="apart">PayEezy's Payment Page CERT</h3 -->
      <div class="apart">
        <%= render 'fd7' %>
        <%= render 'fd7_preauth' %>
        <%= render 'fd7_pnb' %>
        <%= render 'fd7_recurring' %>
        <%= render 'fd7_esp' %>
        <%= render 'fd7_fra' %>
        <%= render 'fd7_fee_10pc' %>
        <%= render 'fd7_fee_20amount' %>
        <%= render 'fd7_fee_tiered' %>
        <%= render 'fd7_fee_tiered_pnb' %>
      </div>
      <div class="apart">
        <%= render 'fd8_vanilla' %>
        <%= render 'fd8' %>
        <%= render 'fd8_pnb' %>
      <!-- h3 class="apart">PayEezy's Payment Page QA - Apple Pay buttons</h3 -->
        <%= render 'fd8_ap_purchase' %>
        <%= render 'fd8_ap_preauth' %>
        <%= render 'fd8_ap_recurring' %>
        <%= render 'fd8_ap_pnb' %>
      <!-- h3 class="apart">PayEezy's Payment Page QA - Apple Pay Foreign Currency PNB buttons</h3 -->
        <%= render 'fd8_ap_cad_pnb' %>
        <%= render 'fd8_ap_eur_pnb' %>
      </div>


    <% elsif current_user.currency_code == "AUD" %>
      <h2 class="apart">These are the available payment options in your currency:</h2>
      <!-- h3 class="apart">PayEezy's Payment Page QA - Apple Pay CAD buttons</h3 -->
      <div class="apart">
        <%= render 'fd7_aud' %>
      </div>
      <h2 class="apart">You can also try these other options:</h2>
      <div class="apart">
        <%= render 'fd1_pnb' %>
        <%= render 'fd2_pnb' %>
        <%= render 'fd3_pnb' %>
        <%= render 'fd3_ap_pnb' %>
        <%= render 'fd3_ap_cad_pnb' %>
        <%= render 'fd3_ap_eur_pnb' %>
        <%= render 'fd5_pnb' %>
        <%= render 'fd4_pnb' %>
        <%= render 'fd4_ap_pnb' %>
        <%= render 'fd4_ap_cad_pnb' %>
        <%= render 'fd4_ap_eur_pnb' %>
        <%= render 'fd6_pnb' %>
        <%= render 'fd6_ap_pnb' %>
        <%= render 'fd6_ap_cad_pnb' %>
        <%= render 'fd6_ap_eur_pnb' %>
        <%= render 'fd7_pnb' %>
        <%= render 'fd7_fee_tiered_pnb' %>
        <%= render 'fd8_pnb' %>
        <%= render 'fd8_ap_pnb' %>
        <%= render 'fd8_ap_cad_pnb' %>
        <%= render 'fd8_ap_eur_pnb' %>
      </div>

        <% elsif current_user.currency_code == "CAD" %>
      <h2 class="apart">These are the available payment options in your currency:</h2>
      <!-- h3 class="apart">PayEezy's Payment Page QA - Apple Pay CAD buttons</h3 -->
      <div class="apart">
        <%= render 'fd3_ap_cad_purchase' %>
        <%= render 'fd3_ap_cad_preauth' %>
        <%= render 'fd3_ap_cad_recurring' %>
        <%= render 'fd3_ap_cad_pnb' %>
        <%= render 'fd4_ap_cad_purchase' %>
        <%= render 'fd4_ap_cad_preauth' %>
        <%= render 'fd4_ap_cad_recurring' %>
        <%= render 'fd4_ap_cad_pnb' %>
        <%= render 'fd6_ap_cad_purchase' %>
        <%= render 'fd6_ap_cad_preauth' %>
        <%= render 'fd6_ap_cad_recurring' %>
        <%= render 'fd6_ap_cad_pnb' %>
        <%= render 'fd7_cad' %>
        <%= render 'fd8_ap_cad_purchase' %>
        <%= render 'fd8_ap_cad_preauth' %>
        <%= render 'fd8_ap_cad_recurring' %>
        <%= render 'fd8_ap_cad_pnb' %>
      </div>
      <h2 class="apart">You can also try these other options:</h2>
      <div class="apart">
        <%= render 'fd1_pnb' %>
        <%= render 'fd2_pnb' %>
        <%= render 'fd3_pnb' %>
        <%= render 'fd3_ap_pnb' %>
        <%= render 'fd3_ap_eur_pnb' %>
        <%= render 'fd5_pnb' %>
        <%= render 'fd4_pnb' %>
        <%= render 'fd4_ap_pnb' %>
        <%= render 'fd4_ap_eur_pnb' %>
        <%= render 'fd6_pnb' %>
        <%= render 'fd6_ap_pnb' %>
        <%= render 'fd6_ap_eur_pnb' %>
        <%= render 'fd7_pnb' %>
        <%= render 'fd7_fee_tiered_pnb' %>
        <%= render 'fd8_pnb' %>
        <%= render 'fd8_ap_pnb' %>
        <%= render 'fd8_ap_eur_pnb' %>
      </div>
      <!-- h3 class="apart">PayEezy's Payment Page QA - Multicurrency CAD</h3 -->
      <h3 class="apart">These PPs override your user's currency and the cart amount:</h3>
      <div class="apart">
        <%= render 'fd3_multic_cad_purchase' %>
        <%= render 'fd3_multic_clp_purchase' %>
        <%= render 'fd3_multic_jpy_purchase' %>
        <%= render 'fd3_multic_krw_purchase' %>
        <%= render 'fd6_multic_cad_purchase' %>
        <%= render 'fd6_multic_clp_purchase' %>
        <%= render 'fd6_multic_jpy_purchase' %>
        <%= render 'fd6_multic_krw_purchase' %>
      </div>

    <% elsif current_user.currency_code == "EUR" %>
      <h2 class="apart">These are the available payment options in your currency:</h2>
      <!-- h3 class="apart">PayEezy's Payment Page QA - Apple Pay EUR buttons</h3 -->
      <div class="apart">
        <%= render 'fd3_ap_eur_purchase' %>
        <%= render 'fd3_ap_eur_preauth' %>
        <%= render 'fd3_ap_eur_recurring' %>
        <%= render 'fd3_ap_eur_pnb' %>
        <%= render 'fd4_ap_eur_purchase' %>
        <%= render 'fd4_ap_eur_preauth' %>
        <%= render 'fd4_ap_eur_recurring' %>
        <%= render 'fd4_ap_eur_pnb' %>
        <%= render 'fd6_ap_eur_purchase' %>
        <%= render 'fd6_ap_eur_preauth' %>
        <%= render 'fd6_ap_eur_recurring' %>
        <%= render 'fd6_ap_eur_pnb' %>
        <%= render 'fd7_eur' %>
        <%= render 'fd8_ap_eur_purchase' %>
        <%= render 'fd8_ap_eur_preauth' %>
        <%= render 'fd8_ap_eur_recurring' %>
        <%= render 'fd8_ap_eur_pnb' %>

      </div>
      <h2 class="apart">You can also try these other options:</h2>
      <div class="apart">
        <%= render 'fd1_pnb' %>
        <%= render 'fd2_pnb' %>
        <%= render 'fd3_pnb' %>
        <%= render 'fd3_ap_pnb' %>
        <%= render 'fd3_ap_cad_pnb' %>
        <%= render 'fd5_pnb' %>
        <%= render 'fd4_pnb' %>
        <%= render 'fd4_ap_pnb' %>
        <%= render 'fd4_ap_cad_pnb' %>
        <%= render 'fd6_pnb' %>
        <%= render 'fd6_ap_pnb' %>
        <%= render 'fd6_ap_cad_pnb' %>
        <%= render 'fd7_pnb' %>
        <%= render 'fd7_fee_tiered_pnb' %>
        <%= render 'fd8_pnb' %>
        <%= render 'fd8_ap_pnb' %>
        <%= render 'fd8_ap_cad_pnb' %>
      </div>

    <% elsif current_user.currency_code == "GBP" %>
      <h2 class="apart">These are the available payment options in your currency:</h2>
      <!-- h3 class="apart">PayEezy's Payment Page QA - Apple Pay CAD buttons</h3 -->
      <div class="apart">
        <%= render 'fd7_gbp' %>
      </div>
      <h2 class="apart">You can also try these other options:</h2>
      <div class="apart">
        <%= render 'fd1_pnb' %>
        <%= render 'fd2_pnb' %>
        <%= render 'fd3_pnb' %>
        <%= render 'fd3_ap_pnb' %>
        <%= render 'fd3_ap_cad_pnb' %>
        <%= render 'fd3_ap_eur_pnb' %>
        <%= render 'fd5_pnb' %>
        <%= render 'fd4_pnb' %>
        <%= render 'fd4_ap_pnb' %>
        <%= render 'fd4_ap_cad_pnb' %>
        <%= render 'fd4_ap_eur_pnb' %>
        <%= render 'fd6_pnb' %>
        <%= render 'fd6_ap_pnb' %>
        <%= render 'fd6_ap_cad_pnb' %>
        <%= render 'fd6_ap_eur_pnb' %>
        <%= render 'fd7_pnb' %>
        <%= render 'fd7_fee_tiered_pnb' %>
        <%= render 'fd8_pnb' %>
        <%= render 'fd8_ap_pnb' %>
        <%= render 'fd8_ap_cad_pnb' %>
        <%= render 'fd8_ap_eur_pnb' %>
      </div>

    <% elsif current_user.currency_code == "JPY" %>
      <h2 class="apart">These are the available payment options in your currency:</h2>
      <!-- h3 class="apart">PayEezy's Payment Page QA - Apple Pay CAD buttons</h3 -->
      <div class="apart">
        <%= render 'fd7_jpy' %>
        <%= render 'fd7_jpy_fee' %>
      </div>
      <h2 class="apart">You can also try these other options:</h2>
      <div class="apart">
        <%= render 'fd1_pnb' %>
        <%= render 'fd2_pnb' %>
        <%= render 'fd3_pnb' %>
        <%= render 'fd3_ap_pnb' %>
        <%= render 'fd3_ap_cad_pnb' %>
        <%= render 'fd3_ap_eur_pnb' %>
        <%= render 'fd5_pnb' %>
        <%= render 'fd4_pnb' %>
        <%= render 'fd4_ap_pnb' %>
        <%= render 'fd4_ap_cad_pnb' %>
        <%= render 'fd4_ap_eur_pnb' %>
        <%= render 'fd6_pnb' %>
        <%= render 'fd6_ap_pnb' %>
        <%= render 'fd6_ap_cad_pnb' %>
        <%= render 'fd6_ap_eur_pnb' %>
        <%= render 'fd7_pnb' %>
        <%= render 'fd7_fee_tiered_pnb' %>
        <%= render 'fd8_pnb' %>
        <%= render 'fd8_ap_pnb' %>
        <%= render 'fd8_ap_cad_pnb' %>
        <%= render 'fd8_ap_eur_pnb' %>
      </div>

      <% elsif current_user.currency_code == "MXN" %>
        <h2 class="apart">These are the available payment options in your currency:</h2>
        <!-- h3 class="apart">PayEezy's Payment Page QA - Apple Pay CAD buttons</h3 -->
        <div class="apart">
          <%= render 'fd7_mxn' %>
        </div>
        <h2 class="apart">You can also try these other options:</h2>
        <div class="apart">
          <%= render 'fd1_pnb' %>
          <%= render 'fd2_pnb' %>
          <%= render 'fd3_pnb' %>
          <%= render 'fd3_ap_pnb' %>
          <%= render 'fd3_ap_cad_pnb' %>
          <%= render 'fd3_ap_eur_pnb' %>
          <%= render 'fd5_pnb' %>
          <%= render 'fd4_pnb' %>
          <%= render 'fd4_ap_pnb' %>
          <%= render 'fd4_ap_cad_pnb' %>
          <%= render 'fd4_ap_eur_pnb' %>
          <%= render 'fd6_pnb' %>
          <%= render 'fd6_ap_pnb' %>
          <%= render 'fd6_ap_cad_pnb' %>
          <%= render 'fd6_ap_eur_pnb' %>
          <%= render 'fd7_pnb' %>
          <%= render 'fd7_fee_tiered_pnb' %>
          <%= render 'fd8_pnb' %>
          <%= render 'fd8_ap_pnb' %>
          <%= render 'fd8_ap_cad_pnb' %>
          <%= render 'fd8_ap_eur_pnb' %>
        </div>

    <% else %>
      <h2 class="apart">We can not process your transaction in <%= "#{current_user.currency_code}" %>, but you can try these other options:</h2>
      <div class="apart">
        <%= render 'fd1_pnb' %>
        <%= render 'fd2_pnb' %>
        <%= render 'fd3_pnb' %>
        <%= render 'fd3_ap_pnb' %>
        <%= render 'fd3_ap_cad_pnb' %>
        <%= render 'fd3_ap_eur_pnb' %>
        <%= render 'fd5_pnb' %>
        <%= render 'fd4_pnb' %>
        <%= render 'fd4_ap_pnb' %>
        <%= render 'fd4_ap_cad_pnb' %>
        <%= render 'fd4_ap_eur_pnb' %>
        <%= render 'fd6_pnb' %>
        <%= render 'fd6_ap_pnb' %>
        <%= render 'fd6_ap_cad_pnb' %>
        <%= render 'fd6_ap_eur_pnb' %>
        <%= render 'fd7_pnb' %>
        <%= render 'fd7_fee_tiered_pnb' %>
        <%= render 'fd8_pnb' %>
        <%= render 'fd8_ap_pnb' %>
        <%= render 'fd8_ap_cad_pnb' %>
        <%= render 'fd8_ap_eur_pnb' %>
      </div>

    <% end %>

    <div class="apart">
      <%= render 'form.html.erb' %>
    </div>
  <% end %>


  <h3 class="apart">Click <a href="https://hostedcheckout.zendesk.com/entries/231255-Using-test-credit-card-numbers" target="_blank">here</a> to get a test credit card number.<h3>

<% end %>
