<p id="notice"><%= notice %></p>

<h1>All Transactions</h1>
<br>

<h1 class="apart"><%= link_to "Continue Shopping", products_path %></h1>

<table>
  <col width="150">
  <col width="450">
  <col width="150">
  <col width="150">
  <col width="200">
  <col width="200">
  <col width="200">
  <thead>
    <tr>
      <th>Transaction Tag</th>
      <th>Receipt</th>
      <th>Invoice No.</th>
      <th>P.O. No.</th>
      <th>Name</th>
      <th>Email</th>
      <!-- th colspan="3">Action</th -->
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <%# Used reverse_each to show the newest items at the top of the table %>
    <% @relays.reverse_each do |relay| %>
      <tr>
        <td><%= relay.x_trans_id %></td>
        <td><%= simple_format(relay.exact_ctr) %></td>
        <td><%= relay.x_invoice_num %></td>
        <td><%= relay.x_po_num %></td>
        <td><%= relay.x_first_name + " " + relay.x_last_name %></td>
        <td><%= relay.x_email %></td>
        <td><%= link_to 'Show More Details', relay %></td>
        <%# Edit is not allowed %>
        <!-- td><%#= link_to 'Edit', edit_relay_path(relay) %></td -->
        <%# Destroy is not allowed %>
        <!-- td><%#= link_to 'Destroy', relay, method: :delete, data: { confirm: 'Are you sure?' } %></td -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# New is not allowed %>
<%#= link_to 'New Relay', new_relay_path %>
