<!-- p id="notice"><%= notice %></p -->
<br>
<h2>Data saved to the DB from the Silent Post</h2>
<br>

<h1 class="apart"><%= link_to "Continue Shopping", products_path %></h1>
<br><br>

<table>
  <col width="220">
  <col width="150">
  <thead>
    <tr>
      <th>Data Base Fields</th>
      <th>Values</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td class="bold">exact_ctr</td>
        <td class="right_aligned"><%= simple_format(@relay.exact_ctr) %></td>
      </tr>
      <tr>
        <td class="bold">x_fp_timestamp</td>
        <td class="right_aligned"><%= @relay.x_fp_timestamp %></td>
      </tr>
      <tr>
        <td class="bold">x_login</td>
        <td class="right_aligned"><%= @relay.x_login %></td>
      </tr>
      <tr>
        <td class="bold">x_response_code</td>
        <td class="right_aligned"><%= @relay.x_response_code %></td>
      </tr>
      <tr>
        <td class="bold">x_response_subcode</td>
        <td class="right_aligned"><%= @relay.x_response_subcode %></td>
      </tr>
      <tr>
        <td class="bold">x_avs_code</td>
        <td class="right_aligned"><%= @relay.x_avs_code %></td>
      </tr>
      <tr>
        <td class="bold">x_cvv2_resp_code</td>
        <td class="right_aligned"><%= @relay.x_cvv2_resp_code %></td>
      </tr>
      <tr>
        <td class="bold">x_cavv_response</td>
        <td class="right_aligned"><%= @relay.x_cavv_response %></td>
      </tr>
      <tr>
        <td class="bold">x_response_reason_code</td>
        <td class="right_aligned"><%= @relay.x_response_reason_code %></td>
      </tr>
      <tr>
        <td class="bold">x_fp_sequence</td>
        <td class="right_aligned"><%= @relay.x_fp_sequence %></td>
      </tr>
      <tr>
        <td class="bold">exact_issname</td>
        <td class="right_aligned"><%= @relay.exact_issname %></td>
      </tr>
      <tr>
        <td class="bold">x_type</td>
        <td class="right_aligned"><%= @relay.x_type %></td>
      </tr>
      <tr>
        <td class="bold">x_auth_code</td>
        <td class="right_aligned"><%= @relay.x_auth_code %></td>
      </tr>
      <tr>
        <td class="bold">x_show_form</td>
        <td class="right_aligned"><%= @relay.x_show_form %></td>
      </tr>
      <tr>
        <td class="bold">exact_wsp_version</td>
        <td class="right_aligned"><%= @relay.exact_wsp_version %></td>
      </tr>
      <tr>
        <td class="bold">x_method</td>
        <td class="right_aligned"><%= @relay.x_method %></td>
      </tr>
      <tr>
        <td class="bold">x_reference_3</td>
        <td class="right_aligned"><%= @relay.x_reference_3 %></td>
      </tr>
      <tr>
        <td class="bold">x_response_reason_text</td>
        <td class="right_aligned"><%= @relay.x_response_reason_text %></td>
      </tr>
      <tr>
        <td class="bold">x_invoice_num</td>
        <td class="right_aligned"><%= @relay.x_invoice_num %></td>
      </tr>
      <tr>
        <td class="bold">x_po_num</td>
        <td class="right_aligned"><%= @relay.x_po_num %></td>
      </tr>
      <tr>
        <td class="bold">x_amount</td>
        <td class="right_aligned"><%= @relay.x_amount %></td>
      </tr>
      <tr>
        <td class="bold">x_currency_code</td>
        <td class="right_aligned"><%= @relay.x_currency_code %></td>
      </tr>
      <tr>
        <td class="bold">x_freight</td>
        <td class="right_aligned"><%= @relay.x_freight %></td>
      </tr>
      <tr>
        <td class="bold">x_tax_exempt</td>
        <td class="right_aligned"><%= @relay.x_tax_exempt %></td>
      </tr>
      <tr>
        <td class="bold">tax2_amount</td>
        <td class="right_aligned"><%= @relay.tax2_amount %></td>
      </tr>
      <tr>
        <td class="bold">tax1_amount</td>
        <td class="right_aligned"><%= @relay.tax1_amount %></td>
      </tr>
      <tr>
        <td class="bold">x_tax</td>
        <td class="right_aligned"><%= @relay.x_tax %></td>
      </tr>
      <tr>
        <td class="bold">x_duty</td>
        <td class="right_aligned"><%= @relay.x_duty %></td>
      </tr>
      <tr>
        <td class="bold">x_description</td>
        <td class="right_aligned"><%= @relay.x_description %></td>
      </tr>

      <tr>
        <td class="bold">x_cust_id</td>
        <td class="right_aligned"><%= @relay.x_cust_id %></td>
      </tr>
      <tr>
        <td class="bold">x_first_name</td>
        <td class="right_aligned"><%= @relay.x_first_name %></td>
      </tr>
      <tr>
        <td class="bold">x_last_name</td>
        <td class="right_aligned"><%= @relay.x_last_name %></td>
      </tr>
      <tr>
        <td class="bold">x_company</td>
        <td class="right_aligned"><%= @relay.x_company %></td>
      </tr>
      <tr>
        <td class="bold">x_address</td>
        <td class="right_aligned"><%= @relay.x_address %></td>
      </tr>
      <tr>
        <td class="bold">x_city</td>
        <td class="right_aligned"><%= @relay.x_city %></td>
      </tr>
      <tr>
        <td class="bold">x_state</td>
        <td class="right_aligned"><%= @relay.x_state %></td>
      </tr>
      <tr>
        <td class="bold">x_zip</td>
        <td class="right_aligned"><%= @relay.x_zip %></td>
      </tr>
      <tr>
        <td class="bold">x_country</td>
        <td class="right_aligned"><%= @relay.x_country %></td>
      </tr>
      <tr>
        <td class="bold">x_fax</td>
        <td class="right_aligned"><%= @relay.x_fax %></td>
      </tr>
      <tr>
        <td class="bold">x_email</td>
        <td class="right_aligned"><%= @relay.x_email %></td>
      </tr>
      <tr>
        <td class="bold">x_phone</td>
        <td class="right_aligned"><%= @relay.x_phone %></td>
      </tr>


      <tr>
        <td class="bold">x_ship_to_first_name</td>
        <td class="right_aligned"><%= @relay.x_ship_to_first_name %></td>
      </tr>
      <tr>
        <td class="bold">x_ship_to_last_name</td>
        <td class="right_aligned"><%= @relay.x_ship_to_last_name %></td>
      </tr>
      <tr>
        <td class="bold">x_ship_to_company</td>
        <td class="right_aligned"><%= @relay.x_ship_to_company %></td>
      </tr>
      <tr>
        <td class="bold">x_ship_to_address</td>
        <td class="right_aligned"><%= @relay.x_ship_to_address %></td>
      </tr>
      <tr>
        <td class="bold">x_ship_to_city</td>
        <td class="right_aligned"><%= @relay.x_ship_to_city %></td>
      </tr>
      <tr>
        <td class="bold">x_ship_to_state</td>
        <td class="right_aligned"><%= @relay.x_ship_to_state %></td>
      </tr>
      <tr>
        <td class="bold">x_ship_to_zip</td>
        <td class="right_aligned"><%= @relay.x_ship_to_zip %></td>
      </tr>
      <tr>
        <td class="bold">x_ship_to_country</td>
        <td class="right_aligned"><%= @relay.x_ship_to_country %></td>
      </tr>
  </tbody>
</table>
<br><br>

<%# Edit is not allowed %>
<%#= link_to 'Edit', edit_relay_path(@relay) %> <%#=|%>
<%#= link_to 'Back', relays_path %>
