<p id="notice"><%= notice %></p>

<p>
  <strong>X show form:</strong>
  <%= @relay.x_show_form %>
</p>

<p>
  <strong>X tax exempt:</strong>
  <%= @relay.x_tax_exempt %>
</p>

<p>
  <strong>X zip:</strong>
  <%= @relay.x_zip %>
</p>

<p>
  <strong>Exact wsp version:</strong>
  <%= @relay.exact_wsp_version %>
</p>

<p>
  <strong>X auth code:</strong>
  <%= @relay.x_auth_code %>
</p>

<p>
  <strong>X ship to last name:</strong>
  <%= @relay.x_ship_to_last_name %>
</p>

<p>
  <strong>X fax:</strong>
  <%= @relay.x_fax %>
</p>

<p>
  <strong>X company:</strong>
  <%= @relay.x_company %>
</p>

<p>
  <strong>Exact issname:</strong>
  <%= @relay.exact_issname %>
</p>

<p>
  <strong>X login:</strong>
  <%= @relay.x_login %>
</p>

<p>
  <strong>X amount:</strong>
  <%= @relay.x_amount %>
</p>

<p>
  <strong>X description:</strong>
  <%= @relay.x_description %>
</p>

<p>
  <strong>X avs code:</strong>
  <%= @relay.x_avs_code %>
</p>

<p>
  <strong>X ship to company:</strong>
  <%= @relay.x_ship_to_company %>
</p>

<p>
  <strong>X last name:</strong>
  <%= @relay.x_last_name %>
</p>

<p>
  <strong>X method:</strong>
  <%= @relay.x_method %>
</p>

<p>
  <strong>X currency code:</strong>
  <%= @relay.x_currency_code %>
</p>

<p>
  <strong>X ship to first name:</strong>
  <%= @relay.x_ship_to_first_name %>
</p>

<p>
  <strong>X ship to state:</strong>
  <%= @relay.x_ship_to_state %>
</p>

<p>
  <strong>X ship to city:</strong>
  <%= @relay.x_ship_to_city %>
</p>

<p>
  <strong>X address:</strong>
  <%= @relay.x_address %>
</p>

<p>
  <strong>X freight:</strong>
  <%= @relay.x_freight %>
</p>

<p>
  <strong>Exact issconf:</strong>
  <%= @relay.exact_issconf %>
</p>

<p>
  <strong>X fp sequence:</strong>
  <%= @relay.x_fp_sequence %>
</p>

<p>
  <strong>X first name:</strong>
  <%= @relay.x_first_name %>
</p>

<p>
  <strong>X response subcode:</strong>
  <%= @relay.x_response_subcode %>
</p>

<p>
  <strong>X invoice num:</strong>
  <%= @relay.x_invoice_num %>
</p>

<p>
  <strong>X fp timestamp:</strong>
  <%= @relay.x_fp_timestamp %>
</p>

<p>
  <strong>X response code:</strong>
  <%= @relay.x_response_code %>
</p>

<p>
  <strong>X trans:</strong>
  <%= @relay.x_trans_id %>
</p>

<p>
  <strong>X tax:</strong>
  <%= @relay.x_tax %>
</p>

<p>
  <strong>X email:</strong>
  <%= @relay.x_email %>
</p>

<p>
  <strong>X city:</strong>
  <%= @relay.x_city %>
</p>

<p>
  <strong>X cvv2 resp code:</strong>
  <%= @relay.x_cvv2_resp_code %>
</p>

<p>
  <strong>X country:</strong>
  <%= @relay.x_country %>
</p>

<p>
  <strong>X ship to country:</strong>
  <%= @relay.x_ship_to_country %>
</p>

<p>
  <strong>X phone:</strong>
  <%= @relay.x_phone %>
</p>

<p>
  <strong>X ship to address:</strong>
  <%= @relay.x_ship_to_address %>
</p>

<p>
  <strong>X cavv response:</strong>
  <%= @relay.x_cavv_response %>
</p>

<p>
  <strong>X response reason code:</strong>
  <%= @relay.x_response_reason_code %>
</p>

<p>
  <strong>X duty:</strong>
  <%= @relay.x_duty %>
</p>

<p>
  <strong>X reference 3:</strong>
  <%= @relay.x_reference_3 %>
</p>

<p>
  <strong>Exact ctr:</strong>
  <%= @relay.exact_ctr %>
</p>

<p>
  <strong>X cust:</strong>
  <%= @relay.x_cust_id %>
</p>

<p>
  <strong>X type:</strong>
  <%= @relay.x_type %>
</p>

<p>
  <strong>X po num:</strong>
  <%= @relay.x_po_num %>
</p>

<p>
  <strong>X state:</strong>
  <%= @relay.x_state %>
</p>

<p>
  <strong>X ship to zip:</strong>
  <%= @relay.x_ship_to_zip %>
</p>

<p>
  <strong>X response reason text:</strong>
  <%= @relay.x_response_reason_text %>
</p>

<%= link_to 'Edit', edit_relay_path(@relay) %> |
<%= link_to 'Back', relays_path %>
